In [2]:
%pip install -r requirements.txt

Collecting python-dotenv==1.0.0 (from -r requirements.txt (line 1))
  Using cached python_dotenv-1.0.0-py3-none-any.whl (19 kB)
Installing collected packages: python-dotenv
Successfully installed python-dotenv-1.0.0
Note: you may need to restart the kernel to use updated packages.

In [19]:
import os
from azure.ai.ml import MLClient
from azure.identity import DefaultAzureCredential
from azure.ai.ml.entities import Data
from azure.ai.ml.constants import AssetTypes
from dotenv import load_dotenv

load_dotenv()

SUBSCRIPTION_ID = os.environ.get("SUBSCRIPTION_ID", None)
RESOURCE_GROUP = os.environ.get("RESOURCE_GROUP", None)
AML_WORKSPACE_NAME = os.environ.get("AML_WORKSPACE_NAME", None)

print(f"SUBSCRIPTION_ID: {SUBSCRIPTION_ID}\n"
      f"RESOURCE_GROUP: {RESOURCE_GROUP}\n"
      f"AML_WORKSPACE_NAME: {AML_WORKSPACE_NAME}\n")
# authenticate
credential = DefaultAzureCredential()

# Get a handle to the workspace
ml_client = MLClient(
    credential=credential,
    subscription_id=SUBSCRIPTION_ID,
    resource_group_name=RESOURCE_GROUP,
    workspace_name=AML_WORKSPACE_NAME,
)

SUBSCRIPTION_ID: f4f99f06-ec30-4601-b84a-6a47929bc9cc
RESOURCE_GROUP: rg_demo_mlstudio_notebook_eastus2
AML_WORKSPACE_NAME: blx_demo_workspace

In [21]:
from azure.ai.ml.entities import Data
from azure.ai.ml.constants import AssetTypes

my_path = "/home/azureuser/localfiles/src/demo_mlstudio/data/default_of_credit_card_clients.csv"
# set the version number of the data asset
v1 = "initial"

my_data = Data(
    name="credit-card",
    version=v1,
    description="Credit card data",
    path=my_path,
    type=AssetTypes.URI_FILE,
)

# create data asset if it doesn't already exist:
try:
    data_asset = ml_client.data.get(name="credit-card", version=v1)
    print(
        f"Data asset already exists. Name: {my_data.name}, version: {my_data.version}"
    )
except:
    ml_client.data.create_or_update(my_data)
    print(f"Data asset created. Name: {my_data.name}, version: {my_data.version}")

Data asset already exists. Name: credit-card, version: initial

In [11]:
import pandas as pd

df = pd.read_csv(my_path)

In [12]:
df.head()

,Unnamed: 0,X1,X2,X3,X4,X5,X6,X7,X8,X9,...,X15,X16,X17,X18,X19,X20,X21,X22,X23,Y
0,ID,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_0,PAY_2,PAY_3,PAY_4,...,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,default payment next month
1,1,20000,2,2,1,24,2,2,-1,-1,...,0,0,0,0,689,0,0,0,0,1
2,2,120000,2,2,2,26,-1,2,0,0,...,3272,3455,3261,0,1000,1000,1000,0,2000,1
3,3,90000,2,2,2,34,0,0,0,0,...,14331,14948,15549,1518,1500,1000,1000,1000,5000,0
4,4,50000,2,2,1,37,0,0,0,0,...,28314,28959,29547,2000,2019,1200,1100,1069,1000,0